*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-screen {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
}

.loading-screen.ended {
    opacity: 0%;
    transition: opacity 1.5s ease-in-out;
}

.loading-bar {
    z-index: 99;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

#solarSystemPanel
{
    background-color: rgba(56, 55, 55, 0.50);
    border-right: 2px solid #5857576f;
    border-bottom: 2px solid #5857576f;
    z-index: 98;
    color: #ffefef;
    position: absolute;
    top: 0;
    left: 0;
}

#solarSystemPanel .planet {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 2px solid #5857576f;
}

#solarSystemPanel .yellowText:hover {
    background-color: rgba(56, 55, 55, 0.60);
    color: yellow;
}

#solarSystemPanel .yellowText:hover button {
    color: yellow;
}

#solarSystemPanel .blueText {
    color: rgb(58,226,239);
}

#solarSystemPanel .blueText:hover {
    background-color: rgba(56, 55, 55, 0.60);
}

#solarSystemPanel .blueText button {
    color: rgb(58,226,239);
}


#solarSystemPanel p {
    cursor: default;
}

#solarSystemPanel button {
    background-color: rgb(39, 38, 38);
    border: none;
    color: #ffefef;
    padding: 5px;
    cursor: pointer;
}

#solarSystemPanel .locateButton {
    margin-left: 40px;
}

#solarSystemPanel .toggleButton {
    display: block;
    margin: 5px auto 0;
}

#orbits {
    padding: 15px;
}

#orbits p {
    text-align: center;
}

#infos {
    background-color: rgba(56, 55, 55, 0.736);
    padding: 20px;
    z-index: 98;
    max-width: 15%;
    color: #ffefef;
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    visibility: hidden;
}
  
#infos p {
    margin-bottom: 5px;
}

#github {
    z-index: 98;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    border-radius: 20% 0 0 0;
    background-color: #ffefef;
}
